body {
    font-family: "Outfit", sans-serif;
    font-size: 13px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.header-wrapper,
.section-wrapper {
    width: 70%;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    padding: 0;
}

.body-index {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: unset;
    grid-template-areas: "headerindex headerindex headerindex" "heroindex heroindex heroindex" "testimonialindex testimonialindex testimonialindex" "galeryindex galeryindex galeryindex" "footerindex footerindex footerindex";
}

.header-index {
    grid-area: headerindex;
}

.section-hero {
    grid-area: heroindex;
}

.section-testimonial {
    grid-area: testimonialindex;
}

.section-galery {
    grid-area: galeryindex;
}

.footer-index {
    grid-area: footerindex;
}

.body-pages {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: unset;
    grid-template-areas: "headerpages headerpages headerpages" "sectiononegrid sectiononegrid sectiononegrid" "sectiontwogrid sectiontwogrid sectiontwogrid" "testimonialpages testimonialpages testimonialpages" "galerypages galerypages galerypages" "footerpages footerpages footerpages";
}

.header-pages {
    grid-area: headerpages;
}

.section-one-grid {
    grid-area: sectiononegrid;
}

.section-two-grid {
    grid-area: sectiontwogrid;
}

.section-testimonial-pages {
    grid-area: testimonialpages;
}

.section-galery-pages {
    grid-area: galerypages;
}

.footer-pages {
    grid-area: footerpages;
}

@mixin flex {
    display: flex;
    justify-content: center;
    align-items: center
}

@mixin flex-between {
    display: flex;
    justify-content: space-between;
}

$textstyles: ( blanco: #fff, fuente: "Comforter Brush");
header {
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 9;
    padding: 0.7rem 0;
}

.header-wrapper {
    @include flex-between;
    align-items: center;
    h1 a {
        text-decoration: none;
        font-size: 1.3rem;
        color: map-get($textstyles, blanco);
        text-transform: uppercase;
        letter-spacing: 0.5px;
        font-weight: 200;
        span {
            font-weight: 500;
        }
    }
    nav ul {
        display: flex;
        li {
            margin-left: 2rem;
            a {
                color: map-get($textstyles, blanco);
                transition: all 0.5s ease-in-out;
                padding-bottom: 0.3rem;
                display: inline-block;
                border-bottom: 1px solid transparent;
                &:hover {
                    transition: all 0.5s ease-in-out;
                    border-bottom: 1px solid #fff;
                }
            }
        }
    }
}

.section-hero {
    position: relative;
    background-image: url(../img/hero-full.jpg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    height: 200vh;
    margin-top: -1rem;
    .section-hero__wrapper-title {
        height: 85vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        width: 50%;
        h2 {
            color: #fff;
            font-size: 2rem;
            font-weight: 600;
            line-height: 1;
            span {
                display: block;
                font-family: map-get($textstyles, fuente);
                font-size: 4rem;
            }
        }
        p {
            color: map-get($textstyles, blanco);
            line-height: 1.8;
        }
    }
    .section-hero__imgTitle {
        @include flex-between;
        align-items: center;
        .section-hero__imgTitle__wrapper-images {
            position: relative;
            width: 50%;
            height: 80vh;
        }
        .section-hero__imgTitle__wrapper-text {
            width: 50%;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            box-sizing: border-box;
            padding-left: 3rem;
            color: map-get($textstyles, blanco);
        }
        .section-hero__imgTitle__wrapper-images {
            img {
                transition: all 0.5s ease-out;
                &:hover {
                    transition: all 0.5s ease-out;
                    filter: grayscale(1);
                    transform: rotate(3deg);
                }
            }
            .section-hero__imgTitle__wrapper-images__image-one {
                position: absolute;
                top: 0;
                left: 0;
                z-index: 1;
                display: block;
                height: fit-content;
                width: 60%;
            }
            .section-hero__imgTitle__wrapper-images__image-two {
                position: absolute;
                bottom: 0;
                right: 0;
                z-index: 2;
                display: block;
                height: fit-content;
                width: 60%;
            }
        }
        .section-hero__imgTitle__wrapper-text {
            h3 {
                display: inline-block;
                border-bottom: 1px solid #ffffff;
                padding: 1rem 0;
                font-family: map-get($textstyles, fuente);
                font-size: 2rem;
            }
            p {
                text-align: right;
                line-height: 1.8;
            }
        }
    }
}

.section-testimonial {
    margin: 4rem 0;
    h3 {
        text-transform: uppercase;
        text-align: center;
        line-height: 1;
        margin: 2rem;
        font-size: 7rem;
        color: #1c1c1a;
        letter-spacing: 1rem;
        font-feature-settings: revert;
        text-shadow: 8px 8px 27px #33333375;
        animation-name: color;
        animation-duration: 30s;
    }
    .section-testimonialpages__wrapper-item {
        border-left: 3px solid #1c1c1a;
        border-right: 3px solid #1c1c1a;
        padding-left: 3rem;
        margin: 4rem 0;
        padding: 3rem 5rem;
        h4 {
            font-size: 1.5rem;
            letter-spacing: 1px;
            margin-top: 0;
            text-align: center;
        }
        p {
            text-align: center;
            line-height: 1.8;
        }
    }
}

@keyframes color {
    0% {
        color: #1c1c1a;
    }
    25% {
        color: rgb(54, 78, 56);
    }
    50% {
        color: rgb(0, 187, 47);
    }
    75% {
        color: rgb(184, 255, 188);
    }
    100% {
        color: rgb(0, 90, 15);
    }
}

.section-galery .section-galery-pages__wrapper-gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1rem;
    grid-template-areas: "imagenuno imagendos imagentres" "imagencuatro imagencuatro imagentres";
    img {
        &:nth-child(1) {
            grid-area: imagenuno;
        }
        &:nth-child(2) {
            grid-area: imagendos;
        }
        &:nth-child(3) {
            grid-area: imagentres;
        }
        &:nth-child(4) {
            grid-area: imagencuatro;
        }
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: all 0.5s ease-in-out;
        &:hover {
            transition: all 0.5s ease-in-out;
            filter: grayscale(1);
            transform: scale(1.02);
        }
    }
}

.section-hero-pages {
    background-image: url(../img/hero-pages.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    .section-pages__title {
        font-family: "Outfit", sans-serif;
        line-height: 1;
        padding: 8rem 0;
        color: map-get($textstyles, blanco);
        font-size: 2rem;
        span {
            display: block;
            font-family: map-get($textstyles, fuente);
            font-size: 4rem;
        }
    }
}

.section-nativeTrees {
    position: relative;
    margin-top: 6rem;
    margin-bottom: 1rem;
}

.section-nativeTrees__leaves img {
    position: absolute;
    width: 35%;
    left: -2%;
    top: -17%;
}

.section-nativeTrees .section-nativeTrees__iframe {
    display: flex;
    justify-content: flex-end;
    iframe {
        width: 60% !important;
        height: 400px !important;
    }
}

.section-schedule table {
    width: 100%;
    margin-top: 5rem;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    tr {
        height: 45px;
        td {
            text-align: center;
        }
        th:first-child,
        td:first-child {
            text-align: left;
            padding-left: 2.5rem;
        }
        &:nth-child(odd) {
            background-color: #eee;
        }
    }
}

.section-aboutUs {
    margin-top: 4rem;
}

.section-contact>.section-wrapper {
    @include flex-between;
    align-items: center;
}

.section-aboutUs {
    >.section-wrapper {
        @include flex-between;
        align-items: center;
    }
    .section-aboutUs-img,
    .section-aboutUs-text {
        width: 50%;
    }
    .section-aboutUs-img img {
        display: inline-block;
        width: 100%;
        padding-right: 2rem;
    }
}

.section-contact .section-contact-text,
.section-aboutUs .section-aboutUs-text {
    padding-left: 2rem;
    text-align: right;
}

.section-contact .section-contact-text p,
.section-aboutUs .section-aboutUs-text p {
    line-height: 1.6;
}

.section-contact {
    margin-top: 4rem;
    .section-contact__form {
        width: 40%;
    }
    .section-contact-text {
        width: 60%;
    }
}

.section-contact__form__group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
    label {
        font-weight: 500;
        font-size: 1.1em;
        margin-bottom: 0rem;
    }
    select {
        border: 0;
        border-bottom: 1px solid;
        height: 30px;
    }
    input {
        border: 0;
        border-bottom: 1px solid;
        height: 30px;
        &:tyoe .section-contact__form form>.section-contact__form__group:nth-child(6) label {
            margin-bottom: 0.3rem;
        }
    }
}

.section-contact__form form>.section-contact__form__group:nth-child(7) input {
    border: 0;
    background-color: #233642;
    padding: 1rem;
    color: map-get($textstyles, blanco);
    margin-top: 1rem;
    @include flex;
    height: auto;
    font-weight: 600;
}

.section-contact__form__group textarea {
    border: 0;
    border: 1px solid;
    padding: 1rem;
}

footer {
    margin-top: 5rem;
    background-color: #1c1c1a;
    padding: 5rem;
    color: map-get($textstyles, blanco);
    .footer-wrapper {
        display: flex;
        justify-content: space-evenly;
    }
    .footer__col {
        display: flex;
        flex-direction: column;
        align-items: center;
        h3 {
            font-weight: 800;
            text-transform: uppercase;
        }
        ul {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            li {
                margin: 0.5rem 0;
                a {
                    color: map-get($textstyles, blanco);
                    transition: all 0.5s ease-in-out;
                    padding-bottom: 0.3rem;
                    display: inline-block;
                    border-bottom: 1px solid transparent;
                    &:hover {
                        transition: all 0.5s ease-in-out;
                        border-bottom: 1px solid #fff;
                    }
                }
            }
        }
    }
}

@media (max-width: 991.1px) {
    .header-wrapper,
    .section-wrapper {
        width: 95%;
    }
    h1 {
        margin-bottom: 0;
    }
    .header-wrapper {
        flex-direction: column;
        nav ul li {
            margin: 0.5rem;
        }
    }
    .section-hero {
        height: 200vh;
        .section-hero__wrapper-title {
            height: 100vh;
            width: 100%;
            margin-top: 2.5rem;
        }
        .section-hero__imgTitle {
            .section-hero__imgTitle__wrapper-images .section-hero__imgTitle__wrapper-images__image-two {
                display: none;
            }
            .section-hero__imgTitle__wrapper-text {
                padding-left: 0.5rem;
                width: 55%;
            }
            .section-hero__imgTitle__wrapper-images {
                position: relative;
                width: 45%;
                height: auto;
                .section-hero__imgTitle__wrapper-images__image-one {
                    width: 100%;
                    position: static;
                }
            }
        }
    }
    .section-testimonial h3 {
        font-size: 3rem;
        box-sizing: border-box;
        letter-spacing: 0.2rem;
        margin: 0;
        font-weight: 900;
    }
    .section-hero .section-hero__imgTitle .section-hero__imgTitle__wrapper-text {
        p {
            text-align: right;
            line-height: 1.5;
        }
        h3 {
            margin-bottom: 1rem;
            padding-top: 0;
            margin-top: 0;
            padding-bottom: 0.3rem;
        }
    }
    .section-testimonial {
        .section-testimonialpages__wrapper-item {
            border-left: none;
            border-right: none;
            margin: 1rem 0;
            padding: 3rem 1rem;
        }
        margin-bottom: 0rem;
    }
    .section-galery .section-galery-pages__wrapper-gallery {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: unset;
        gap: 0;
        grid-template-areas: none;
        img {
            &:nth-child(1) {
                grid-column: 1/2;
                grid-row: 1/2;
            }
            &:nth-child(2) {
                grid-column: 1/2;
                grid-row: 2/3;
            }
            &:nth-child(3) {
                grid-column: 1/2;
                grid-row: 3/4;
            }
            &:nth-child(4) {
                grid-column: 1/2;
                grid-row: 4/5;
            }
            width: 100%;
            height: 20em;
            object-fit: cover;
            display: block;
            margin: 0.3rem;
        }
    }
    .section-nativeTrees {
        margin-top: 4rem;
    }
    .section-nativeTrees__leaves {
        display: none;
    }
    .section-nativeTrees .section-nativeTrees__iframe {
        margin: 0 0.3rem;
        iframe {
            width: 100% !important;
            height: 315px;
        }
    }
    .section-schedule table {
        tbody {
            padding: 0 1rem;
        }
        tr {
            height: 65px;
            th:first-child,
            td:first-child {
                padding-left: 0;
            }
        }
    }
    .section-contact>.section-wrapper {
        flex-direction: column-reverse;
    }
    .section-aboutUs {
        >.section-wrapper {
            flex-direction: column-reverse;
        }
        margin-top: 2rem;
        .section-aboutUs-img,
        .section-aboutUs-text {
            text-align: center;
            margin: 1rem 0;
            padding: 0;
            width: 100%;
        }
    }
    .section-contact {
        .section-contact-text {
            width: 100%;
            padding: 0;
            text-align: center;
            margin-bottom: 2rem;
        }
        .section-contact__form {
            width: 100%;
        }
    }
    footer {
        .footer-wrapper {
            flex-direction: column;
        }
        .footer__col {
            margin-bottom: 1.3rem;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}