// Estilos Generales
body {
    font-family: "Outfit", sans-serif;
    font-size: 13px;
}

.header-wrapper,
.section-wrapper {
    width: 70%;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    padding: 0;
}


// Variables y Mixins
@mixin flex {
    display: flex;
    justify-content: center;
    align-items: center
}

@mixin flex-between {
    display: flex;
    justify-content: space-between;
}

$textstyles: ( blanco: #fff, fuente: "Comforter Brush");
