.section-hero {
    position: relative;
    background-image: url(../img/hero-full.jpg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    height: 200vh;
    margin-top: -1rem;
    .section-hero__wrapper-title {
        height: 85vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        width: 50%;
        h2 {
            color: #fff;
            font-size: 2rem;
            font-weight: 600;
            line-height: 1;
            span {
                display: block;
                font-family: map-get($textstyles, fuente);
                font-size: 4rem;
            }
        }
        p {
            color: map-get($textstyles, blanco);
            line-height: 1.8;
        }
    }
    .section-hero__imgTitle {
        @include flex-between;
        align-items: center;
        .section-hero__imgTitle__wrapper-images {
            position: relative;
            width: 50%;
            height: 80vh;
        }
        .section-hero__imgTitle__wrapper-text {
            width: 50%;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            box-sizing: border-box;
            padding-left: 3rem;
            color: map-get($textstyles, blanco);
        }
        .section-hero__imgTitle__wrapper-images {
            img {
                transition: all 0.5s ease-out;
                &:hover {
                    transition: all 0.5s ease-out;
                    filter: grayscale(1);
                    transform: rotate(3deg);
                }
            }
            .section-hero__imgTitle__wrapper-images__image-one {
                position: absolute;
                top: 0;
                left: 0;
                z-index: 1;
                display: block;
                height: fit-content;
                width: 60%;
            }
            .section-hero__imgTitle__wrapper-images__image-two {
                position: absolute;
                bottom: 0;
                right: 0;
                z-index: 2;
                display: block;
                height: fit-content;
                width: 60%;
            }
        }
        .section-hero__imgTitle__wrapper-text {
            h3 {
                display: inline-block;
                border-bottom: 1px solid #ffffff;
                padding: 1rem 0;
                font-family: map-get($textstyles, fuente);
                font-size: 2rem;
            }
            p {
                text-align: right;
                line-height: 1.8;
            }
        }
    }
}

.section-hero-pages {
    background-image: url(../img/hero-pages.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    .section-pages__title {
        font-family: "Outfit", sans-serif;
        line-height: 1;
        padding: 8rem 0;
        color: map-get($textstyles, blanco);
        font-size: 2rem;
        span {
            display: block;
            font-family: map-get($textstyles, fuente);
            font-size: 4rem;
        }
    }
}